@media only screen and (min-width: 750px) {
  body {
    background-color: hsla(319, 64%, 87%, 0.5);
  }
}


picture{
  height: 200px;
  width: 200px;
}




#special-div{
  color: rgb(177, 156, 217);
  text-align: center;
  border-style: dotted;
  border-color: hsl(36, 100%, 50%);
  border-width: thick;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 125px;
  padding-top: 50px;
  padding-bottom: 100px;
  /*padding-left: 25px;*/
  padding-right: 50px;
  
}

#secret-message{
  color: #fff;
  border-style: dotted;
  border-color: hsl(36, 100%, 50%);
  border-width: thick;
  border-radius: 10px;
  margin: 25px 125px 100px 50px;
}

h3{
  color: rgba(235, 151, 78, 1);
}

.formAJ{
  color: red;
}
/* This is a comment*/

*{
  font-family: Verdana;
}
