@media only screen and (min-width: 750px) {
  body {
    background-color: hsla(319, 64%, 87%, 0.5);
  }
}

h1, h2 { text-decoration: underline; }
ul li {list-style-type: circle; }
header > p {color: blue}
section ~ aside {color: green}
li + li {color: #FF1493}


picture {
  height: 50%;
  width: 100%;
}

a:hover {
  color: green;
}

a:active {
  color: yellow;
}


input[type=email] {
  width: 150px;
  transition: ease-in-out, width .50s ease-in-out;
}

#special-div{
  color: rgb(177, 156, 217);
  text-align: center;
  border-style: dotted;
  border-color: hsl(36, 100%, 50%);
  border-width: thick;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 125px;
  padding-top: 50px;
  padding-bottom: 2em;
  padding-left: 10em;
  padding-right: 50px;
  
}

div.secret{
  color: #fff;
  border-style: dotted;
  border-color: hsl(36, 100%, 50%);
  border-width: thick;
  border-radius: 10px;
  margin: 25px 125px 100px 50px;
  padding: 3in 2cm 300px 400px; /* 3 examples of abs lengths */
}

h3{
  color: rgba(235, 151, 78, 1);
}

.formAJ{
  color: red;
}
/* This is a comment*/

*{
  font-family: Verdana;
}
